[tool.poetry]
package-mode = false

[tool.poetry.dependencies]
python = "^3.11"
pyserial = "^3.5"

[tool.poetry.group.dev.dependencies]
pynvim = "^0.5.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
